<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Alterar Telefone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <span><a href="javascript:history.back()"> Voltar para Página Anterior </a></span>
    
	<h1>Formulário Telefone</h1>
    <form 
        id="formularioPF" 
        action="#" 
        th:action="@{
            /clientes/{clienteId}/{especId}/telefones/{telefoneId}/atualizar
            (clienteId=${clienteId}, especId=${especId}, telefoneId=${telefone.id})}" 
        th:object="${telefone}" 
        method="post"
        >
        <p>Telefone: <input type="text" th:field="*{numero}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>