<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Alterar Conta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <span><a href="javascript:history.back()"> Voltar para Página Anterior </a></span>
	
    <form 
        id="formularioPF" 
        action="#" 
        th:action="@{
            /clientes/{clienteId}/{especId}/contas/{contaId}/atualizar
            (clienteId=${clienteId}, especId=${especId}, contaId=${conta.id})}" 
        th:object="${conta}" 
        method="post"
        >
        <p>Nome do Banco: <input type="text" th:field="*{nomeBanco}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>